.item-list
    display: flex
    flex-direction: column
    padding: 0
    
    &__li
        list-style: none
        width: 40%
        color: #5bdf94
    &__item
        display: flex
        border-radius: 20px
    &__link
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin-bottom: 3%
        text-decoration: none      
    &__title
        background-color: #2e7f4d 
        color: #5bdf94
        border: 2px solid  #5bdf94
        border-radius: .9em
        font-size: 1.2em
        padding: 0 2%
    &__image
        width: 60%
        border-radius: 60px
        margin-top: 2rem
    &__price
        color: #5bdf94
        font-weight: bold
        border-bottom: 2px solid black
        align-self: center
        font-size: 1.2em
    &__fav
        width: 10%
        margin-top: 0.5rem
    &__buttonfav
        border: none
   
    

   