.users

  &__user
    list-style: none

    a
      display: flex
      text-decoration: none
      align-items: center
      color: #585555

  &__user-icon
    margin-right: 1rem
    color: #03A9F4
    font-size: 1.8rem
