.search
    display: flex
    height: 10vh
    justify-content: center
    align-items: center
    flex-direction: column
    height: 100%
    &__title
        color: #5bdf94 
        font-size: 4rem
        margin: .5rem auto .5rem auto

    &__form
        display: flex
        margin-bottom: 2rem  
        margin-top: 4rem

    &__input
        background: #5bdf94  
        border: 2px solid black
        font-size: 1.5em 
        font-weight: bold
        margin-top: 2rem

    &__button
        background: #5bdf94 
        border: 2px solid black
        font-size: 1.25em 
        font-weight: bold
        margin-top: 2rem

    &__logout
        background: #5bdf94  
        border: 2px solid black
        font-size: 1.5em 
        font-weight: bold
        margin-top: 2rem
