.detail-user
  margin: 2rem

  div
    display: flex
    align-items: center

  &__icon
    margin-right: 1rem
    color: orange
    cursor: pointer

    &--blue
      color: #03A9F4


  &__button
    font-size: 1rem
    display: block
    color: white
    background: #17b0a2
    margin: 1rem 2rem
    padding: 0.5rem 0.5rem
    border: none
    border-radius: 6px
    width: 80%
    font-family: Comfortaa

    &--red
      background: #d46f67
