body {
  margin: 0;
}

.header {
  font-family: helvetic;
  padding: 0.8rem;
  background: url("../../images/40312.jpg");
  background-position: center;
  background-size: cover;
}
.header__options {
  text-align: right;
  margin-top: 0.4rem;
}
.header__options-login {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  font-size: 1.3rem;
}
.header__options-login:hover {
  color: #6e7e86;
}
.header__options-register {
  text-decoration: none;
  color: white;
  border: white solid 0.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 1.3rem;
}
.header__options-register:hover {
  color: #6e7e86;
  border-color: #6e7e86;
}
.header__title {
  text-align: center;
  margin-top: 1rem;
  color: white;
  letter-spacing: 1rem;
  font-size: 2.5rem;
}
.header__slogan {
  font-size: 1.4rem;
  text-align: center;
  color: white;
}
.header__form {
  margin: 2rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__form-search {
  font-size: 1rem;
  padding: 0.5rem;
  width: 20rem;
  border-radius: 6px;
  border-style: none;
}
.header__form-button {
  border-style: none;
  margin-left: 1rem;
  cursor: pointer;
  background-color: transparent;
}

.fa-utensils {
  font-size: 1.5rem;
  color: white;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  margin: 0.5rem;
  list-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.results__item {
  border-radius: 1rem;
  margin: 1rem;
  width: 32rem;
}

.item {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem;
}
.item__image {
  display: block;
  border-radius: 0.2rem;
  margin: 0.1rem 0.1rem 0.1rem 0.1rem;
  max-width: 12rem;
  min-width: 10rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item__contdata {
  padding: 0.2rem;
}
.item__contdata-title {
  color: red;
}
.item__contdata-category {
  color: black;
}
.item__contdata-zone {
  color: black;
}
.item__contdata-address {
  color: black;
}
.item__contvotes {
  padding: 0.3rem;
}
.item__contvotes-vote {
  color: whitesmoke;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  background-color: green;
  margin-left: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
}
.item__contvotes-numvotes {
  font-size: 0.8rem;
  margin-left: 2rem;
  text-align: center;
}

.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e5e3dd;
}
.detail__header-container {
  position: relative;
}
.detail__header-container > img {
  width: 100%;
}
.detail__title {
  text-align: center;
  font-size: 1.2rem;
  color: #686161;
  border-bottom: 1px solid #686161;
}
.detail__puntuation {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  padding: 1rem;
  margin: 0;
  background-color: #4CAF50;
  color: #ffffff;
  font-weight: 700;
}
.detail__main-container {
  border: 7px solid white;
  margin-top: 1rem;
  background-color: #ffffffc7;
  margin-bottom: 4rem;
}
.detail__columns-container {
  display: flex;
  justify-content: space-evenly;
  margin-left: 1.5rem;
}
.detail__column-container {
  width: 50%;
}
.detail__detail-title {
  color: #E91E63;
  font-size: 1.1rem;
}

@media only screen and (min-width: 576px) {
  .detail__title {
    font-size: 2rem;
  }
  .detail__columns-container {
    _min-width: 850px;
    margin-left: 0;
    width: 38rem;
    height: 19rem;
  }
  .detail__detail-title {
    font-size: 1.7rem;
  }
  .detail__column-container {
    width: unset;
  }
}
.comments {
  width: 38rem;
}
.comments__title {
  text-align: center;
  color: #686161;
  font-size: 2rem;
}

/*# sourceMappingURL=index.css.map */
