.item-list
    display: flex
    padding: 0
    width: 100%
    justify-content: space-evenly
    align-items: center

   

@media (min-width: 768px)
    .items
        display: flex
        justify-content: center
        
    .item-list
        flex-flow: row wrap
        justify-content: space-around
        max-width: 90%

            

@media (min-width: 1024px)
    .item-list 
        flex-direction: row
        justify-content: center
        flex-wrap: wrap    
   
       