.login
    background-color: white
    border: .3rem solid red
    border-radius: 1rem
    border-style: solid
    text-decoration: none
    text-shadow: 1px 1px 1px #000
    padding: .5rem
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

    &__title
        color: red
        text-shadow: .9rem
        font-size: 2rem
        margin: .5rem auto .5rem auto

    &__field
        border-radius: .5rem
        padding: .5rem
        font-size: 1rem
    
    &__submit
        border-radius: .5rem
        padding: .5rem