.home
  margin: 2rem
  line-height: 1.9rem

  &__greeting
    text-align: center
    font-size: 1.2rem
    border-bottom: 1px solid gray
    padding-bottom: 0.5rem

  ul
    border-bottom: 1px solid #8f8f8f
    padding-bottom: 0.6rem