*
    box-sizing: border-box
    margin: 0
    background-color: #2e7f4d

.view
    height: 100%
    padding: 3vw
    text-align: center

body
    font-family: Tahoma
    display: flex
    flex-direction: column
    justify-content: center
    box-sizing: border-box
    background-color:  &__price
    color: #5bdf94
    margin-bottom: 20%
    

li
    list-style: none


.result
    display: flex
    justify-content: center

@import ./components/feedback
@import ./components/landing
@import ./components/register
@import ./components/login
@import ./components/search
@import ./components/results
@import ./components/result-item
@import ./components/detail

