*
    box-sizing: border-box
    margin: 0


.header
    font-family: helvetica
    background-color: orange
    padding: .8rem

    &__options
        text-align: right
        margin-top: .4rem

    &__options-login
        
        text-decoration: none
        color: white
        padding: .5rem

    &__options-login:hover
        color: rgb(130, 43, 0)


    &__options-register
        text-decoration: none
        color: white
        border: white solid .2rem
        padding: .5rem
        border-radius: .3rem

    &__options-register:hover
        color: rgb(130, 43, 0)
        border-color: rgb(130, 43, 0)

    &__title

        text-align: center
        margin-top: 1rem

    &__slogan
        font-size: 1rem
        text-align: center
        color: white

    &__form
        margin: .5rem
        text-align: center

    &__form-search
        background-color: ghostwhite
    
    &__form-button
        color: black
        background-color: white




    
    
    
