.search
    border: .3rem solid red
    border-radius: 1rem
    border-style: dotted
    text-decoration: none
    padding: .5rem
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    flex-direction: column

    &__form
        margin: .5rem

    &__title
        color: red
        text-shadow: 1px 1px 1px #000
        font-size: 2rem
        margin: .5rem auto .5rem auto
        padding-right: .3rem

    &__user
        display: inline-block
        color: white
        font-size: 1.5rem
        margin: .5rem auto .5rem auto

    &__logout
        font-size: 1rem
        border-radius: .5rem
        padding: .5rem
        margin-left: .5rem
        cursor: pointer

    &__icon
        font-size: 1.5rem

    &__criteria
        border-radius: .5rem
        padding: .5rem
        font-size: 1rem
    
    &__submit
        border-radius: .5rem
        padding: .5rem

    &__user
        text-shadow: 1px 1px 1px #000

    &__favs
        color: white
