<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./styles/index.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Indie+Flower&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <title>Tasksboard</title>
  <title>Tasks</title>
</head>

<body>
  <header>
    <h1>Tasksboard</h1>
  </header>
  <main>
    <section class='tasks'>
      <section class='tasks__column tasks__column-todo'>
        <h2 class='tasks__title'>TODO</h2>
        <ul class='tasks__task'>
          <li class='task task--todo'>
            <div class='task__buttons'>
              <i class="material-icons">keyboard_arrow_left</i>
              <i class="material-icons">keyboard_arrow_right</i>
              <i class="material-icons">clear</i>
            </div>
            <h3 class='task__title task__title--todo'>Title</h3>
            <p class='task__description'>Bla bla bla Bla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla bla </p>
          </li>
          <li class='task task--todo'>
            <div class='task__buttons'>
              <i class="material-icons">keyboard_arrow_left</i>
              <i class="material-icons">keyboard_arrow_right</i>
              <i class="material-icons">clear</i>
            </div>
            <h3 class='task__title task__title--todo'>Title</h3>
            <p class='task__description'>Bla bla bla Bla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla bla </p>
          </li>
        </ul>
      </section>
      <section class='tasks__column tasks__column-doing'>
        <h2 class='tasks__title'>DOING</h2>
        <ul class='tasks__task'>
          <li class='task task--doing'>
            <div class='task__buttons'>
              <i class="material-icons">keyboard_arrow_left</i>
              <i class="material-icons">keyboard_arrow_right</i>
              <i class="material-icons">clear</i>
            </div>
            <h3 class='task__title task__title--doing'>Title</h3>
            <p class='task__description'>Bla bla bla Bla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla bla </p>
          </li>
          <li class='task task--doing'>
            <div class='task__buttons'>
              <i class="material-icons">keyboard_arrow_left</i>
              <i class="material-icons">keyboard_arrow_right</i>
              <i class="material-icons">clear</i>
            </div>
            <h3 class='task__title task__title--doing'>Title</h3>
            <p class='task__description'>Bla bla bla Bla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla bla </p>
          </li>
        </ul>
      </section>
      <section class='tasks__column tasks__column-review'>
        <h2 class='tasks__title'>REVIEW</h2>
        <ul class='tasks__task'>
          <li class='task task--review'>
            <div class='task__buttons'>
              <i class="material-icons">keyboard_arrow_left</i>
              <i class="material-icons">keyboard_arrow_right</i>
              <i class="material-icons">clear</i>
            </div>
            <h3 class='task__title task__title--review'>Title</h3>
            <p class='task__description'>Bla bla bla Bla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla bla </p>
          </li>
          <li class='task task--review'>
            <div class='task__buttons'>
              <i class="material-icons">keyboard_arrow_left</i>
              <i class="material-icons">keyboard_arrow_right</i>
              <i class="material-icons">clear</i>
            </div>
            <h3 class='task__title task__title--review'>Title</h3>
            <p class='task__description'>Bla bla bla Bla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla bla </p>
          </li>
        </ul>
      </section>
      <section class='tasks__column tasks__column-done'>
        <h2 class='tasks__title'>DONE</h2>
        <ul class='tasks__task'>
          <li class='task task--done'>
            <div class='task__buttons'>
              <i class="material-icons">keyboard_arrow_left</i>
              <i class="material-icons">keyboard_arrow_right</i>
              <i class="material-icons">clear</i>
            </div>
            <h3 class='task__title task__title--done'>Title</h3>
            <p class='task__description'>Bla bla bla Bla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla bla </p>
          </li>
          <li class='task task--done'>
            <div class='task__buttons'>
              <i class="material-icons">keyboard_arrow_left</i>
              <i class="material-icons">keyboard_arrow_right</i>
              <i class="material-icons">clear</i>
            </div>
            <h3 class='task__title task__title--done'>Title</h3>
            <p class='task__description'>Bla bla bla Bla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla blaBla bla bla </p>
          </li>
        </ul>
      </section>
    </section>
  </main>
</body>

</html>
