.timeline
  &__item
    margin: 2rem 0

  &__bullet
    text-align: center
    padding-top: 0.25rem
    font-weight: 800
    margin-top: -0.4rem
    color: white
    width: 1.8em
    height: 1.8em
    box-sizing: border-box
    border-radius: 50%
    z-index: 1
    margin-right: 0.5rem

    &--red
      border: 2px solid #db4f4f
      background: #db5959

    &--green
      border: 2px solid #17b0a2
      background: #17b0a2

    &--orange
      border: 2px solid #FF9800
      background: orange