.landing
    background-color: red
    border: .3rem white
    border-radius: 1rem
    border-style: solid
    text-decoration: none
    padding: .5rem
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

    &__title
        color: red
        font-size: 2rem
        text-shadow: 1px 1px 1px #000
        margin: .5rem auto .5rem auto
        text-shadow: .9rem
    
    &__options
        color: white
        font-size: 1.2rem
        margin: .5rem auto .5rem auto