.results
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding: 1rem
    list-style: none
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

    &__item
        border-radius: 1rem
        margin: 1rem
        width: 32rem
